{% extends 'base.html' %}

{% load static %}

{% block main %}

<main class="main__content_wrapper">
        
    <!-- Start breadcrumb section -->
    {% include 'shop/components/_breadcrumb.html' %}
    <!-- End breadcrumb section -->

    <!-- Start error section -->
    <section class="error__section section--padding">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="error__content text-center">
                        <img class="error__content--img display-block mb-50" src="{% static 'assets/img/other/404-thumb.png' %}" alt="error-img">
                        <h2 class="error__content--title">Opps ! We,ar Not Found This Page </h2>
                        <p class="error__content--desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi animi aliquid minima assumenda.</p>
                        <a class="error__content--btn btn" href="{% url 'home'  %}">Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End error section -->

        <!-- Start shipping section -->
        {% include 'shop/components/_shipping.html' %}
        <!-- End shipping section -->
      

</main>

{% endblock main %}