{% extends 'base.html' %}

{% load static %}

{% block main %}

<main class="main__content_wrapper">
        
    <!-- Start breadcrumb section -->
    {% include 'shop/components/_breadcrumb.html' %}
    <!-- End breadcrumb section -->

    <!-- Start login section  -->
    <div class="login__section section--padding mb-80">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <div class="login__section--inner">
                    <div class="row row-cols-md-2 row-cols-1">
                        <div class="col">
                            <div class="account__login register">
                                <div class="account__login--header mb-25">
                                    <h2 class="account__login--header__title h3 mb-10">Create an Account</h2>
                                    <p class="account__login--header__desc">Register here if you are a new customer</p>
                                </div>
                                <div class="account__login--inner">
                                    <label>
                                        <input class="account__login--input" placeholder="Username" type="text" name="username">
                                    </label>
                                   
                                    <label>
                                        <input class="account__login--input" placeholder="Password" type="password" name="password">
                                    </label>
                                    <label>
                                        <input class="account__login--input" placeholder="Confirm Password" type="password" name="confirm_password" >
                                    </label>
                                    <button class="account__login--btn btn mb-10" type="submit">Submit & Register</button>
                                    <div class="account__login--remember position__relative">
                                        <label >
                                            <a href="{% url 'login'  %}"class="account__login--signup__text">Already Have an Account?  </a> Sign in now
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>     
    </div>
    <!-- End login section  -->

    <!-- Start shipping section -->
    {% include 'shop/components/_shipping.html' %}
    <!-- End shipping section -->

</main>

{% endblock main %}