{% load static %}

        <!-- Start slider section -->
        <section class="hero__slider--section">
            <div class="hero__slider--inner hero__slider--activation swiper">
                <div class="hero__slider--wrapper swiper-wrapper">
                    <div class="swiper-slide ">
                        <div class="hero__slider--items bg__gray--color">
                            <div class="container slider__items--container">
                                <div class="hero__slider--items__inner">
                                    <div class="row row-cols-lg-2 row-cols-md-2 row-cols-1 align-items-center">
                                        <div class="col">
                                            <div class="slider__content slider__content--padding__left">
                                                <span class="slider__content--subtitle text__secondary">Eat clean and green</span>
                                                <h2 class="slider__content--maintitle h1">Natural is <span class="text__secondary">always</span> <br>
                                                    Healthy</h2>
                                                <p class="slider__content--desc">The more you love your health, more you eat organic. No medicine can heal you better than organic food does</p>    
                                                <a class="btn slider__btn" href="{% url 'shop'  %}">Shop Now</a>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="hero__slider--layer">
                                                <img class="slider__layer--img " src="{% static 'assets/img/slider/home1-slider1-layer.png' %}" alt="slider-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="hero__slider--items bg__gray--color">
                            <div class="container slider__items--container">
                                <div class="hero__slider--items__inner">
                                    <div class="row row-cols-lg-2 row-cols-md-2 row-cols-1 align-items-center">
                                        <div class="col">
                                            <div class="slider__content slider__content--padding__left">
                                                <span class="slider__content--subtitle text__secondary">Eat clean and green</span>
                                                <h2 class="slider__content--maintitle h1">Natural is <span class="text__secondary">always</span> <br>
                                                    Healthy</h2>
                                                <p class="slider__content--desc">The more you love your health, more you eat organic. No medicine can heal you better than organic food does</p>    
                                                <a class="btn slider__btn" href="{% url 'shop'  %}">Shop Now</a>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="hero__slider--layer home1__slider--layer2">
                                                <img class="slider__layer--img  home1__slider--layer2__img" src="{% static 'assets/img/slider/home1-slider2-layer.png' %}" alt="slider-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="hero__slider--items bg__gray--color">
                            <div class="container slider__items--container">
                                <div class="hero__slider--items__inner">
                                    <div class="row row-cols-lg-2 row-cols-md-2 row-cols-1 align-items-center">
                                        <div class="col">
                                            <div class="slider__content slider__content--padding__left">
                                                <span class="slider__content--subtitle text__secondary">Eat clean and green</span>
                                                <h2 class="slider__content--maintitle h1">Natural is <span class="text__secondary">always</span> <br>
                                                    Healthy</h2>
                                                <p class="slider__content--desc">The more you love your health, more you eat organic. No medicine can heal you better than organic food does</p>    
                                                <a class="btn slider__btn" href="{% url 'shop'  %}">Shop Now</a>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="hero__slider--layer">
                                                <img class="slider__layer--img " src="{% static 'assets/img/slider/home1-slider3-layer.png' %}" alt="slider-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider__pagination swiper-pagination"></div>
            </div>
        </section>
        <!-- End slider section -->