<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Enlink - Admin Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'dashboard/images/logo/favicon.png' %}">

    <!-- page css -->

    <!-- Core css -->
    <link href="{% static 'dashboard/css/app.min.css' %}" rel="stylesheet">

</head>

<body>
    <div class="app">
        <div class="container-fluid p-h-0 p-v-20 bg full-height d-flex" style="background-imag({% static 'dashboard/images/others/login-3.png' %})">
            <div class="d-flex flex-column justify-content-between w-100">
                <div class="container d-flex h-100">
                    <div class="row align-items-center w-100">
                        <div class="col-md-7 col-lg-5 m-h-auto">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between m-b-30">
                                        <img class="img-fluid" alt="" src="{% static 'dashboard/images/logo/logo.png' %}">
                                        <h2 class="m-b-0">Register</h2>
                                    </div>
                                    <form method="post" action="{% url 'register' %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="firstName">First name:</label>
                                            <input type="text" class="form-control" id="firstName" placeholder="First name" name="first_name" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="lastName">Last name:</label>
                                            <input type="text" class="form-control" id="lastName" placeholder="Last name" name="last_name" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="username">Username:</label>
                                            <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="email">Email:</label>
                                            <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="password">Password:</label>
                                            <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="confirmPassword">Confirm Password:</label>
                                            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="confirm_password" required>
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex align-items-center justify-content-between p-t-15">
                                                <button class="btn btn-primary" type="submit">Register</button>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    
    <!-- Core Vendors JS -->
    <script src="{% static 'dashboard/js/vendors.min.js' %}"></script>

    <!-- page js -->

    <!-- Core JS -->
    <script src="{% static 'dashboard/js/app.min.js' %}"></script>
</body>

</html>